---
import DefaultImage from "../default.png"
import Arena2000Image from "../content/games/arena-2000.png"

interface Props {
	title: string;
	body: string;
	href: string;
	developers: string[];
	genres: string[]
}

const { href, title, body, developers, genres } = Astro.props;
---


<div class="image-background-container" style={"background-image: url("+Arena2000Image.src+"); height: "+ Arena2000Image.height+"px; width: "+Arena2000Image.width+"px;"}>
	
	<span class="spacer"></span>
	<h2>
		<a href={href}></a>{title}</a>
	</h2>
	<p>
		{body}
	</p>
</div>
	

<style>
	.image-background-container{
		display: flex; 
		flex-direction: column;
	}

	.image-background-container > *{
		background: #23262da8;
	}

	.image-background-container .spacer{
		display: inline-block;
		flex-grow: 2;
		background: none;
	}
	.image-background-container > p{
		
	}
	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 10px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	.link-card > p { 
		flex-grow: 1;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
