---
interface Props {}

const {} = Astro.props;
---
<footer>
    <nav>
        <ul>
            <li>
                <a href="/accessability/">הצהרת נגישות</a>
            </li>
        </ul>
    </nav>
</footer>
